@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

:root{
  --Relayn: #F39831;
  --Relep: #06a51b;
  --Relen: #BF252B;
  --Releem: #80287e;
  --Releg: #E95296;
  --font-color-primary: #fff; /*Color de la fuente de la pagina*/
  --bg-color: #3d3d3d; /*Color de fondo de la interfaz*/
  --bg-modal: #1a1d20; /*Header del modal*/
  --bg-modal-secundary: #202327b9; /*body del modal*/
  --header: #22242a; /*color del header de la pagina*/
  --border: #ced5e0;
  --sidebar: #2F323A;
}

.bg-Relayn{
  background-color: var(--Relayn) !important;
}
.bg-Relep{
  background-color: var(--Relep) !important;
}
.bg-Relen{
  background-color: var(--Relen) !important;
}
.bg-Releem{
  background-color: var(--Releem) !important;
}
.bg-Releg{
  background-color: var(--Releg) !important;
}

.font_color{
	color: var(--font-color-primary);
}

*{
	color: var(--font-primary-color);
	font-family: 'Montserrat', sans-serif;
}

.centered{
	text-align: center !important;
	vertical-align: middle !important;
  }

body {
	margin: 0;

	padding: 0;

	background-color: var(--bg-color);
	
	font-family: 'Montserrat', sans-serif;
}

.profile-area {
	padding: 80px 0;
}

.card {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

	overflow: hidden;

	border-radius: 15px;
}

.modal-header {
	background-color: var(--bg-modal);

	color: var(--font-color-primary);
}

.modal-body {
	background-color: var(--bg-color);

	color: var(--font-color-primary);

	margin-top: -1px;
}

.modal-footer {
	background-color: var(--bg-color);

	margin-top: -1px;
}

.img1 img {
	height: 200px;

	border-top-right-radius: 15px;

	border-top-left-radius: 15px;

	width: 100%;
}

.bg-presentacion{

  position: relative;
  
  overflow: hidden;

  height: 200px;

  border-top-right-radius: 15px;

  border-top-left-radius: 15px;

  width: 100%;

  background-image: url('https://redesla.net/redesla/resources/img/Mapa blanco.png');

  background-size: 50px 70px;
  
}

#profile-card-left, #profile-text-right{
	position: relative;
  
	overflow: hidden;

	height: 300px;

	width: 100%;
}

#profile-card-left img{
	height: 300px;
	display: block;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#profile-text-right p{
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.upper{
	text-transform: uppercase;
}

.profile_pic img{
  position: relative;

	display: block;

	margin-left: auto;

	margin-right: auto;

	width: 140px;

	height: 140px;

	border-radius: 50%;

	border: 2px solid var(--font-color-primary);

	margin-top: -80px;
}

.main-text {
	padding: 20px 0px 0px 0px;

	text-align: center;
}

.strip{
  height: 40px;
  padding-top: 6px;
}

.main-text h2 {
	text-transform: uppercase;

	font-weight: 900;

	font-size: 20px;

	margin: 0 0 20px;
}

.main-text h3 {
	text-transform: uppercase;

	font-weight: 700;

	font-size: 15px;
}

.main-text p {
	font-size: 16px;

	color: var(--font-color-primary);
}

.socials {
	text-align: center;

	padding-bottom: 20px;
}

.socials i {
	font-size: 20px;

	padding: 0 10px;
}

.socials i i {
	font-size: 18px;

	color: var(--font-color-primary);

	padding: 0 10px;
}

.card{
	background-color: transparent;
}

.header_title_card{
	background-color: var(--bg-modal);
}

.body_card{
	color: var(--font-color-primary);
	background-color: var(--bg-modal-secundary);
}


header {
	z-index: 1;

	position: fixed;

	background: var(--header);

	/*padding: 20px;*/

	width: calc(100% - 0%);

	top: 0;

	height: 70px;
}

.left_area h3 {
	color: var(--font-color-primary);

	margin: 0;

	text-transform: uppercase;

	font-size: 22px;

	font-weight: 900;

	padding-left: 15px;
}

.n_Relayn {
	color: var(--Relayn);
}

.n_Relen {
	color: var(--Relen);
}

.n_Relep {
	color: var(--Relep);
}

.n_Releem {
	color: var(--Releem);
}

.n_Releg {
	color: var(--Releg);
}

.n_Redesla{
	color: #adb5bd;
}

.Relayn {
	background-color: var(--Relayn);

	color: var(--font-color-primary)

	text-decoration: none;
}

.Relen {
	background-color: var(--Relen);

	color: var(--font-color-primary);

	text-decoration: none;
}


.Relep {
	background-color: var(--Relep);

	color: var(--font-color-primary);

	text-decoration: none;
}

.Releem {
	background-color: var(--Releem);

	color: var(--font-color-primary);

	text-decoration: none;
}

.Releg {
	background-color: var(--Releg);

	color: var(--font-color-primary);

	text-decoration: none;
}

.logout_btn {
	color: white;

	text-decoration: none;

	padding: 5px;

	background: #cb1d11;

	float: right;

	padding-right: 5px;

	padding-left: 5px;

	margin-top: -30px;

	margin-right: 10px;

	border-radius: 2px;

	font-size: 15px;

	font-weight: 600;

	transition: 0.5s;

	transition-property: background;
}

.logout_btn:hover {
	background: #a2160f;
}

.sidebar {
	z-index: 1;

	top: 0;

	background: var(--sidebar);

	margin-top: 70px;

	padding-top: 30px;

	position: fixed;

	left: 0;

	width: 250px;

	height: calc(100% - 10%);

	transition: 0.5s;

	transition-property: left;

	overflow-y: auto;

	overflow-x: hidden;
}

.profile_info {
	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;
}

.mobile_nav .nav_bar .profile_image {
	width: 50px;

	height: 50px;

	border-radius: 100px;

	margin-bottom: 10px;
}

.sidebar .profile_info .profile_image {
	width: 100px;

	height: 100px;

	border-radius: 100px;

	margin-bottom: 10px;
}

/*CAMBIOS*/

#profile {
	display: none;
}

#profileMobile {
	display: none;
}

#uploadBtn {
	text-align: center;

	margin-top: -57px;

	background: rgba(0, 0, 0, 0.7);

	position: absolute;

	width: 100px;

	padding-bottom: 23px;

	border-radius: 0 0 110px 110px;

	cursor: pointer;

	opacity: 0.7;

	display: none;

	color: white;
}

#uploadBtnMobile {
	text-align: center;

	margin-top: -57px;

	background: rgba(0, 0, 0, 0.7);

	position: absolute;

	width: 100px;

	padding-bottom: 23px;

	border-radius: 0 0 110px 110px;

	cursor: pointer;

	opacity: 0.5;

	display: none;
}

/*CAMBIOS*/

.sidebar .profile_info h4 {
	color: var(--font-color-primary);

	margin-top: 0;

	margin-bottom: 20px;
}

.sidebar a {
	color: var(--font-color-primary);

	display: block;

	width: 100%;

	line-height: 60px;

	text-decoration: none;

	padding-left: 40px;

	box-sizing: border-box;

	transition: 0.5s;

	transition-property: background;

	text-decoration: none;
}

.sidebar a:hover {
	text-decoration: none;
}

.sidebar i {
	padding-right: 10px;
}

label #sidebar_btn {
	z-index: 1;

	color: var(--font-color-primary);

	position: fixed;

	cursor: pointer;

	left: 300px;

	font-size: 20px;

	margin: 15px 0;

	transition: 0.5s;

	transition-property: color;
}

#check:checked ~ .sidebar {
	left: -185px;
}

#check:checked ~ .sidebar a span {
	display: none;
}

#check:checked ~ .sidebar a {
	font-size: 20px;

	margin-left: 165px;

	width: 100%;
}

.content {
	width: (100% - 250px);

	margin-top: 60px;

	padding: 20px;

	margin-left: 250px;

	background-position: center;

	background-size: cover;

	background-color: var(--bg-main);

	height: 100vh;

	transition: 0.5s;

	color: var(--font-color-primary);
}



.breadcrums {
	text-decoration: none;

	color: var(--font-color-primary);
}

.avatar {
	display: block;

	margin: auto;

	width: 100px;

	height: 100px;

	border-radius: 100px;
}

#img_ca {
	width: 100%;
	vertical-align: baseline;
}

.img_card_div{
	display: flex;
	align-items: center;
	align-content: center;
}



#check:checked ~ .content {
	margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info {
	display: none;
}

#check {
	display: none;
}

.mobile_nav {
	display: none;
}

.mobile-profile{
	display: none;
}

/*

  .content .card p{

    background: #fff;

    padding: 15px;

    margin-bottom: 10px;

    font-size: 14px;

    opacity: 0.8;

  }

  */

/* Responsive CSS */

@media screen and (max-width: 1030px) {
	.desktop-profile{
		display: none;
	}

	.mobile-profile{
		display: block;
		width: calc(100% - 0%);
	}

	#profile-card-left, #profile-text-right{
		position: relative;
	  
		overflow: hidden;
	
		height: 300px;
	
		width: 100%;
	}

	#profile-card-left img{
		height: 200px;
		display: block;
		margin: auto;
		margin-top: 50px;
	}
	
	#profile-text-right p{
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		padding-right: 65px;
	}

	.upper .abreviacion_red{
		font-size: 30px;
    	font-size: 7.7vw;
	}

	.upper .nombre_completo_red{
		display: none;
	}
}

@media screen and (max-width: 840px) {
	.sidebar {
		display: none;
	}

	#sidebar_btn {
		display: none;
	}

	.content {
		margin-left: 0;

		margin-top: 0;

		padding: 10px 20px;

		transition: 0s;
	}

	#check:checked ~ .content {
		margin-left: 0;
	}

	.mobile_nav {
		display: block;

		width: calc(100% - 0%);

		/*position: absolute;

      z-index: 1;*/
	}

	.nav_bar {
		background: var(--header);

		width: (100% - 0px);

		margin-top: 70px;

		display: flex;

		justify-content: space-between;

		align-items: center;

		padding: 10px 20px;
	}

	.nav_bar .mobile_profile_image {
		width: 50px;

		height: 50px;

		border-radius: 50%;
	}

	.nav_bar .nav_btn {
		font-size: 22px;

		cursor: pointer;

		transition: 0.5s;

		transition-property: color;
	}

	.nav_bar .nav_btn:hover {
		color: #19b3d3;
	}

	.mobile_nav_items {
		background: var(--sidebar);

		display: none;
	}

	.mobile_nav_items a {
		color: var(--font-color-primary);

		display: block;

		text-align: center;

		letter-spacing: 1px;

		line-height: 60px;

		text-decoration: none;

		box-sizing: border-box;

		transition: 0.5s;

		transition-property: background;
	}

	.mobile_nav_items a:hover {
		background: #19b3d3;
	}

	.mobile_nav_items i {
		padding-right: 10px;
	}

	.active {
		display: block;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;

		margin: 0;
	}

	/* Firefox */

	input[type="number"] {
		-moz-appearance: textfield;
	}

	


}

@media screen and (max-width: 908) {
	#profile-text-right p{
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
}

@media screen and (max-width: 653) {
	#profile-text-right p{
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
}

@media screen and (max-width: 415px) {
	#profile-text-right p{
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
}

.seleccionado {
	transform: scale(1.02) rotate(-1deg);

	box-shadow: 0px 0px 20px rgba(149, 153, 159, 0.16);
}

.fantasma {
	border: 2px dotted #000;
}

.drag {
	opacity: 0;
}

#lista .item {
	background: #fff;

	display: grid;

	grid-template-columns: auto 1fr 1fr 1fr;

	align-items: center;

	padding: 20px;

	border-radius: 10px;

	margin-bottom: 20px;

	color: black;
}

#lista {
	padding: 40px;

	width: 100%;
}

#lista .item .fas {
	color: black;

	text-align: right;
}

#lista .label {
	text-transform: uppercase;

	font-weight: 600;

	margin-bottom: 5px;

	color: #000;
}

#lista_impreso .item {
	background: #fff;

	display: grid;

	grid-template-columns: auto 1fr 1fr 1fr;

	align-items: center;

	padding: 20px;

	border-radius: 10px;

	margin-bottom: 20px;

	color: black;
}

#lista_impreso {
	padding: 40px;

	width: 100%;
}

#lista_impreso .item .fas {
	color: black;

	text-align: right;
}

#lista_impreso .label {
	text-transform: uppercase;

	font-weight: 600;

	margin-bottom: 5px;

	color: #000;
}


/*ESTILOS PARA MIEMBROS*/
.user-card {  
	color: var(--font-color-primary);
	border-radius: 5%;
  }

  .cover{
	background-repeat: no-repeat;
	width: 300px;
	height: 244px;
	margin-left: -15px;
  }
  
  .cards_miembros{
	margin: 0 auto;
	width: 300px;
	/*height: 800px;*/
	height: auto;
	background: var(--bg-modal);
	border-radius: 10px;
	position: relative;
	box-shadow: 20px 20px 20px black;
  }
  
  .information {
	text-align: center;
  }
  
  .avatar {
	margin: 0 auto;
	margin: -82px auto 15px;
	display: block;
  }
  
  .name {
	font-size: 22px;
  }
  
  .position {
	font-size: 16px;
	color: var(--font-primary-color);
	margin-top: 5px;
  }
  
  .label {
	display: block;
	font-size: 14px;
	color: var(--font-color-primary);
  }

  
/*ESTILOS PARA MIEMBROS*/

.card-carpetas{
	background-color: var(--bg-modal);
}

.item-carpetas{
	border: 1px solid var(--font-primary-color);
}

.item-carpetas a{
	color: var(--font-color-primary);
}

.card-body-carpetas{
	background-color: var(--bg-modal-secundary)
}

.btn-carpetas{
	color: var(--font-color-primary);
	text-decoration: none;
}

.btn-carpetas:hover{
	text-decoration: none;
}



.card-header-pagos{
	background-color: var(--bg-modal);
}

.card-body-pagos{
	background-color: var(--bg-modal-secundary);
}

#btnAddProyecto{
	color: var(--font-primary-color);
}

.btn-add-pago{
	color: var(--font-color-primary);
	text-decoration: none;
}


.thead-table-facturas{
	background-color: var(--bg-modal);
}

.table-body-facturas{
	background-color: var(--bg-modal-secundary);
}

#btnSolicitarFactura{
	color: var(--font-color-primary);
}
#validacion{
	color: var(--font-color-primary);
}
#btn_act_pass{
	color: var(--font-color-primary);
}
section {
	padding: 50px;
  
	max-width: 900px;
  
	margin: 50px auto;
  
	background-color: var(--bg-modal);
    
	backdrop-filter: blur(10px);
  
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  
	border-radius: 5px;
  
	transition: transform 0.2s ease-in-out;
}

hr.hr-about {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: var(--Relayn);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.hr-about:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: var(--Relayn);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.card-perfil{
	background-color: var(--bg-modal);
}

.card-header-congresos{
	background-color: var(--bg-modal);
}

.card-body-congresos{
	background-color: var(--bg-modal-secundary);
}

.verde{
    color: lightgreen;
}

::-webkit-scrollbar {
	width: 20px;
  }

  ::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
  }

  ::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
  }

  #CA_menu a{
    background-color: var(--bg-modal-secundary);
  }

  #proyectos_menu a{
    background-color: var(--bg-modal-secundary);
  }

  #proyectos_menu_mobile a{
    background-color: var(--bg-modal-secundary);
  }

  #CA_menu_mobile a{
    background-color: var(--bg-modal-secundary);
  }

.odd{
	background-color: var(--bg-modal-secundary) !important;
}

.even{
	background-color: var(--bg-modal-secundary) !important;
}

tr .child{
	background-color: var(--bg-modal-secundary) !important;
}

.sorting_1{
	background-color: var(--bg-modal-secundary) !important;
}

table#example.dataTable tbody tr:hover {
	background-color: var(--bg-modal-secundary) !important;
  }
   
  table#example.dataTable tbody tr:hover > .sorting_1 {
	background-color: var(--bg-modal-secundary) !important;
  }

select[name='example_length']{
	color: black;
}

table.dataTable tbody tr{
	background-color: var(--bg-modal-secundary);
}

.icon-lg{
	font-size: 3.75rem;
}

.clipboard{
	background-color: var(--bg-modal);
    box-shadow: inset ;
    border-radius: 5px;
	padding: 1rem;
	color: var(--font-color-primary);
	position: relative;
}
.clipboard pre{
	color: var(--font-color-primary);
}

.btnClipboard {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
}

.active{
	color: green;
}


.user img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

ul#impreso,ul#digital {
	width: 100%;
	background-color: var(--bg-color);
	border-radius: 1rem;
	list-style: none;
	overflow: hidden;
	transition: .3s ease;
}

ul#impreso li,
ul#digital li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: move;
	transition: .3s ease;
	height: 6rem;
}

ul#impreso li:nth-child(even),
ul#digital li:nth-child(even) {
	background-color: #eee8;

}

ul#impreso li:hover,
ul#digital li:hover {
	background-color: #00f2;
	transform: scale(1.03);
}

ul#impreso li.active,
ul#digital li.active {
	background-color: #0f03;
	transform: scale(1.03);
	padding-bottom: .8rem;
}

.user {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.info {
	margin-left: 1rem;
}

.info h2 {
	font-size: 1.2rem;
}

.icon {
	padding: 1rem;
	transform: rotate(180deg);
}

.image-style-align-center{
	text-align: center;
}

figure.image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

figure.image img{
	width: 100%;
	padding-bottom: 1rem;
}

.card-body.card-body-congresos span{
	color: var(--font-color-primary) !important;
}

object{
    width: 100%;
  }


  .tarjetas_gafete {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.tarjetas_gafete .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	transition: .5s;
	margin: 15px 20px;
}

.tarjetas_gafete .card:hover {
	box-shadow: 0 5px 15px  var(--font-color-primary);
}

.tarjetas_gafete .card .head {
	height: 125px;
	width: 100%;
	position: relative;
}

.tarjetas_gafete .card .head .circle {
	position: absolute;
	width: 100%;
	height: 300px;
	border-radius: 50%;
	bottom: 0;
}

.tarjetas_gafete .card .head .img {
	width: 150px;
	height: 150px;
	position: absolute;
	background: #fff;
	padding: 5px;
	border-radius: 50%;
	bottom: -30%;
	left: 50%;
	transform: translate(-50%);
}

.tarjetas_gafete .card .head .img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}


.tarjetas_gafete .card .description {
	height: 200px;
	padding: 40px 20px 20px 20px;
	/*border-bottom: solid 1px rgba(6, 74, 76, .18);*/
	text-align: center;
	color: #000 !important;
}

.tarjetas_gafete .card .description h3,
.tarjetas_gafete .card .description h4,
.tarjetas_gafete .card .description h2{
	color: #05383a;
}

.tarjetas_gafete .card .description p {
	font-size: 15px;
	margin-bottom: 0rem !important
}


.tarjetas_gafete .card .contact {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}

.tarjetas_gafete .card .contact a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
	transition: .3s;
}

.tarjetas_gafete .card .contact a:hover {

	background: #0b6164;

}

.linea {
	margin:0px 20px;
	width:150px;    
	position: relative;
	top:25px;
	float:left;
	}
  
  .leyenda {
	font-weight:bold;
	font-size: xx-large;
	float:left;
	color: var(--font-color-primary);
	text-transform: uppercase;
   }

   @media screen and (max-width: 995px) {
	.linea {
		margin:0px 20px;
		width: 50px;    
		position: relative;
		top:10px;
		float:left;
		}
	  
	  .leyenda {
		font-weight:bold;
		float:left;
		font-size: inherit;
		color: var(--font-color-primary);
		text-transform: uppercase;
	   }
   }

   .loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid #f0ddaa;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  }
  .loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border-bottom: 4px solid #5ebdb2;
	border-left: 4px solid transparent;
  }
  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 

  #loader{
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 9999; /* Z-index alto para asegurarse de que esté por encima de otros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
  }